* {
	border: none;
	border-radius: 0;
	font-family: JetBrains Mono;
	font-size: 15px;
	min-height: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 15px;
	transition: none;
    color: transparent;
	background: transparent;
}
#tags {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0px;
	border-radius: 15px;
	/*background: #2E3440;*/
	background: #111318;
	transition: none;
}

#tags button {
	transition: none;
	color: #D8DEE9;
	background: transparent;
	font-size: 16px;
}

#tags button.occupied {
	transition: none;
	color: #BF616A;
	background: transparent;
	font-size: 16px;
}

#tags button.focused {
	color: #5E81AC;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #EBCB8B;
}

#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	transition: none;
	color: #4d4d4d;
	background: #bd93f9;
}

#pulseaudio {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	transition: none;
	color: #2E3440;
	background: #60AFEE;
}

#battery {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	transition: none;
	color: #2E3440;
	background: #EBCB8B;
}

#battery.charging, #battery.plugged {
	color: #2E3440;
    background-color: #A3BE8C;
}

#battery.critical:not(.charging) {
    background-color: #D8DEE9;
    color: #2E3440;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #D8DEE9;
    }
}

#backlight {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	transition: none;
	color: #2E3440;
	background: #D08770;
}
#custom-clock {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	margin-right: 12px;
	padding-right: 10px;
	border-radius: 15px;
	transition: none;
	color: #D8DEE9;
	/*background: #4C566A;*/
	background: #111318;
}

#tray {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 15px;
	transition: none;
	color: #D8DEE9;
	/*background: #4C566A;*/
	background: #111318;
}

#custom-updates {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 15px;
	transition: none;
	color: #2E3440;
	background: #60AFEE;
}

#custom-downloads {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 15px;
	transition: none;
	color: #2E3440;
	background: #60AFEE;
}
