/* TODO: fix the color scheme */
* {
	border: none;
	border-radius: 0;
	font-family: JetBrainsMono Nerd Font;
	font-size: 14px;
	min-height: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 15px;
	transition: none;
    color: transparent;
	background: transparent;
}
#tags {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0px;
	border-radius: 15px;
	background: #1E0432;
	transition: none;
}

#tags button {
	transition: none;
	color: #ffffff;
	background: transparent;
	font-size: 16px;
}

#tags button.occupied {
	transition: none;
	color: #6A3D75;
	background: transparent;
	font-size: 16px;
}

#tags button.focused {
	color: #F54652;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	transition: none;
	color: #4d4d4d;
	background: #bd93f9;
}

#pulseaudio {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	transition: none;
	color: #ffffff;
	background: #731E2A;
}

#battery {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	transition: none;
	color: #ffffff;
	background: #A4333E;
}
#temperature {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	transition: none;
	color: #4d4d4d;
	background: #5af78e;
}

#backlight {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	transition: none;
	color: #ffffff;
	background: #6A3D75;
}
#custom-clock {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	margin-right: 12px;
	padding-right: 10px;
	border-radius: 15px;
	transition: none;
	color: #f8f8f2;
	background: #0D040A;
}

#tray {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 15px;
	transition: none;
	color: #f8f8f2;
	background: #0D040A;
}

#custom-updates {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 15px;
	transition: none;
	color: #f8f8f2;
	/*background: #A4333E;*/
	background: #6A3D75;
}
